
<ion-header>

  <ion-navbar color="header">
      <button ion-button menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-row>
            <ion-col col-auto>
            <ion-img class="header-logo"></ion-img></ion-col>
            <ion-col col-auto class="header-title">RMNCH+A Toolkit</ion-col>
            </ion-row>
  </ion-navbar>
  <ion-segment [(ngModel)]="areaLevel" *ngIf="areaLevels.length&&areaLevel">
      <ion-segment-button *ngFor="let level of areaLevels;let i = index" [value]="level" (click)="selectAreaLevel(level);selectTab(i)" >
        {{level.areaLevelName}}
      </ion-segment-button>
</ion-segment>
</ion-header>


<ion-content padding  class="home_bg">
  <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
<ion-slide *ngIf="areaLevels.length&&areaLevel">
    <h1 class="crumb-header-section" *ngIf="areaLevels.length&&areaLevel">Geographic Profile - National</h1>
          <ion-grid  *ngFor="let sector of themeList">
              <button ion-button block class="comparision-button" (click)="selectSector(sector)">
                  {{sector.sectorName}}
                   </button>
                   <ion-searchbar [(ngModel)]="searchIndicators"  *ngIf="selectedTheme==sector"  placeholder="Search Indicator"></ion-searchbar>
                   <ion-list *ngIf="selectedTheme==sector" class="indicator-list">
                      <ion-item  *ngFor="let indicator of ( indicatorList | indicatorSectorWiseFilter : selectedTheme |searchIndicator:searchIndicators)" >
                        <ion-label class="indicator-list-font">{{indicator.iName}}</ion-label>
                        <ion-checkbox [(ngModel)]="indicator.checked" [checked]="indicator.checked" [disabled]="!indicator.checked&&selectedIndicators.size==10" (ionChange)="indicator.checked&&selectedIndicators.size==10&&!selectedIndicators.has(indicator)? maximumSelectionWarning(indicator):selectIndicators()" ></ion-checkbox>
                      </ion-item>
                    </ion-list>
              </ion-grid>
        
        
              <ion-row *ngIf="selectedIndicators && selectedIndicators.size && !areaLevel.isStateAvailable" class="selection-number">
                  <ion-col col-2 push-10>{{selectedIndicators.size}}/10</ion-col></ion-row>
              <ion-grid  class="indicator-selection-grid" *ngIf="selectedIndicators && selectedIndicators.size && !areaLevel.isStateAvailable">
                <ul>
                  <li *ngFor="let theme of getKeys(selectedThemeIndicator)">{{theme}}
                    <ul>
                <li *ngFor="let iname of getValues(theme)">{{iname}}</li>
              </ul>
                </li>
              </ul>
        
              </ion-grid> 
</ion-slide>
<ion-slide *ngIf="areaLevels.length&&areaLevel">
    <h1 class="crumb-header-section">Geographic Profile - State</h1>
    <ion-grid>
        <ion-card *ngIf="areaLevel && areaLevel.isStateAvailable">
            <ion-item>
                <ion-label>State</ion-label>
                <ion-select [(ngModel)]="state" (ionChange)="district=null" interface="popover">
                  <ion-option *ngFor="let area of ( area | comparisonViewAreaFilter : areaLevel : 'IND' )" [value]="area" >{{area.areaname}}</ion-option>
                </ion-select>
            </ion-item>
          </ion-card>
          </ion-grid>
        
          <ion-grid  *ngFor="let sector of themeList">
              <button ion-button block class="comparision-button" (click)="selectSector(sector)">
                  {{sector.sectorName}}
                   </button>
                   <ion-searchbar [(ngModel)]="searchIndicators"  *ngIf="selectedTheme==sector"  placeholder="Search Indicator"></ion-searchbar>
                   <ion-list *ngIf="selectedTheme==sector" class="indicator-list">
                      <ion-item  *ngFor="let indicator of ( indicatorList | indicatorSectorWiseFilter : selectedTheme |searchIndicator:searchIndicators)" >
                        <ion-label class="indicator-list-font">{{indicator.iName}}</ion-label>
                        <ion-checkbox [(ngModel)]="indicator.checked" [checked]="indicator.checked" [disabled]="!indicator.checked&&selectedIndicators.size==10" (ionChange)="indicator.checked&&selectedIndicators.size==10&&!selectedIndicators.has(indicator)? maximumSelectionWarning(indicator):selectIndicators()" ></ion-checkbox>
                      </ion-item>
                    </ion-list>
              </ion-grid>
        
        
              <ion-row *ngIf="selectedIndicators && selectedIndicators.size && !areaLevel.isDistrictAvailable" class="selection-number">
                  <ion-col col-2 push-10>{{selectedIndicators.size}}/10</ion-col></ion-row>
              <ion-grid  class="indicator-selection-grid" *ngIf="selectedIndicators && selectedIndicators.size && !areaLevel.isDistrictAvailable">
                <ul>
                  <li *ngFor="let theme of getKeys(selectedThemeIndicator)">{{theme}}
                    <ul>
                <li *ngFor="let iname of getValues(theme)">{{iname}}</li>
              </ul>
                </li>
              </ul>
        
              </ion-grid> 
</ion-slide>
<ion-slide *ngIf="areaLevels.length&&areaLevel">
    <h1 class="crumb-header-section">Geographic Profile - District</h1>
    <ion-grid>
        <ion-card *ngIf="areaLevel && areaLevel.isStateAvailable">
            <ion-item>
                <ion-label>State</ion-label>
                <ion-select [(ngModel)]="state" (ionChange)="district=null" interface="popover">
                  <ion-option *ngFor="let area of ( area | comparisonViewAreaFilter : areaLevel : 'IND' )" [value]="area" >{{area.areaname}}</ion-option>
                </ion-select>
            </ion-item>
          </ion-card>
         
          <ion-card *ngIf="areaLevel && areaLevel.isDistrictAvailable">
              <ion-item >
                  <ion-label>District</ion-label>
                  <ion-select [(ngModel)]="district" [disabled]="!state" interface="popover" >
                    <ion-option *ngFor="let area of ( area | comparisonViewAreaFilter : areaLevel: (state?state.code:'') )" [value]="area" >{{area.areaname}}</ion-option>
                  </ion-select>
              </ion-item>
            </ion-card>
          </ion-grid>
        
          <ion-grid  *ngFor="let sector of themeList">
              <button ion-button block class="comparision-button" (click)="selectSector(sector)">
                  {{sector.sectorName}}
                   </button>
                   <ion-searchbar [(ngModel)]="searchIndicators"  *ngIf="selectedTheme==sector"  placeholder="Search Indicator"></ion-searchbar>
                   <ion-list *ngIf="selectedTheme==sector" class="indicator-list">
                      <ion-item  *ngFor="let indicator of ( indicatorList | indicatorSectorWiseFilter : selectedTheme |searchIndicator:searchIndicators)" >
                        <ion-label class="indicator-list-font">{{indicator.iName}}</ion-label>
                        <ion-checkbox [(ngModel)]="indicator.checked" [checked]="indicator.checked" [disabled]="!indicator.checked&&selectedIndicators.size==10" (ionChange)="indicator.checked&&selectedIndicators.size==10&&!selectedIndicators.has(indicator)? maximumSelectionWarning(indicator):selectIndicators()" ></ion-checkbox>
                      </ion-item>
                    </ion-list>
              </ion-grid>
        
        
              <ion-row *ngIf="selectedIndicators && selectedIndicators.size" class="selection-number">
                  <ion-col col-2 push-10>{{selectedIndicators.size}}/10</ion-col></ion-row>
              <ion-grid  class="indicator-selection-grid" *ngIf="selectedIndicators && selectedIndicators.size">
                <ul>
                  <li *ngFor="let theme of getKeys(selectedThemeIndicator)">{{theme}}
                    <ul>
                <li *ngFor="let iname of getValues(theme)">{{iname}}</li>
              </ul>
                </li>
              </ul>
        
              </ion-grid> 
</ion-slide>

  </ion-slides>
 

</ion-content>

<ion-footer class="hide-on-keyboard-open">    
    <ion-row>
      
      <ion-col col-6>
            <button ion-button block (click)="reset()">Reset</button>
       </ion-col>


      <ion-col col-6>
          <button ion-button block (click)="next()">Generate</button>
      </ion-col>
  
  
    </ion-row>
  </ion-footer>
