
<ion-header>

    <ion-navbar color="header">
        <ion-buttons end>
          <button class="customOptions" ion-button icon-only (click)=share()>
            <ion-icon name="share"></ion-icon>
          </button>
        </ion-buttons>
        <ion-searchbar [(ngModel)]="searchQuery"></ion-searchbar>
      </ion-navbar>
    </ion-header>


<ion-content padding class="home_bg">
    <ion-grid>
        <h1 class="crumb-header-section" *ngIf="!customViewTypeSelection.sourceWise">{{customViewTypeSelection.areaWise?
       selectedArea.areaname:selectedIndicator.iName +'  (' + selectedIndicator.unit.unitName+')'}}</h1>
          <h1 class="crumb-header-section" *ngIf="customViewTypeSelection.sourceWise">
     {{selectedSource}} >> {{selectedIndicator.iName}} 
          ({{selectedIndicator.unit.unitName}})</h1>
     </ion-grid>

    <ion-grid *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size" class="legend">
        <ion-row >
          <ion-col *ngFor="let sector of sectors|slice:0:4;let i = index" col-3>
            <ion-icon name="md-square" color="{{sector.sectorName.replace(' ','_')}}">
            </ion-icon><br>{{sector.sectorName}}
          </ion-col>
    </ion-row >


    <ion-row *ngIf="sectors.length>4">
        <ion-col *ngFor="let sector of sectors|slice:4:sectors.length;let i = index" col-3>
          <ion-icon name="md-square" color="{{sector.sectorName.replace(' ','_')}}">
          </ion-icon><br>{{sector.sectorName}}
        </ion-col>
     
  </ion-row >




    </ion-grid>


    <ion-grid margin-top text-center text-wrap class="table" *ngIf="geographyWiseComparision">
     <p *ngIf="geographyWiseComparision && !geographyWiseComparision.sources.size " class="no-data-available">No data available</p> 
    </ion-grid>
    
    <!-- More than two source and area wise-->
<ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size && geographyWiseComparision.sources.size>2 && customViewTypeSelection.areaWise"margin-top text-center text-wrap>
        <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
            <ion-col col-3>Indicator</ion-col>
            <ion-col col-3>Unit</ion-col>
            <ion-col *ngFor="let source of geographyWiseComparision.sources" col-2>{{source}}</ion-col>

        </ion-row>

        <p *ngIf="indicatorList && indicatorList.length && !((indicatorList| searchIndicator : searchQuery).length)" class="no-data-available">No data available</p>  

        <!-- <div class="scrolling-content" [ngStyle]="{'height':height+'px'}" *ngIf="geographyWiseComparision"> -->
            <ion-row *ngFor="let indicator of (indicatorList| searchIndicator : searchQuery) " 
             class=" custom-view-table row "  (click)='viewIndicatorData(indicator)' nowrap>
            <ion-col  class="{{indicator.recSector.sectorName.replace(' ','_')}} col"col-3>{{indicator.iName}}</ion-col>
            <ion-col class="{{indicator.recSector.sectorName.replace(' ','_')}} col" col-3>{{indicator.unit.unitName}}</ion-col>

            <ion-col class="{{indicator.recSector.sectorName.replace(' ','_')}} col" *ngFor="let source of geographyWiseComparision.sources" col-2 >
              {{geographyWiseComparision.values.has(indicator.iName)&&geographyWiseComparision.values.get(indicator.iName).has(source)?geographyWiseComparision.values.get(indicator.iName).get(source):"-"}}
            </ion-col>
             



          </ion-row>

        <!-- </div> -->

      </ion-grid>



      <!-- For two sources and area wise-->

      <ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size && geographyWiseComparision.sources.size== 2  && customViewTypeSelection.areaWise"margin-top text-center text-wrap>
        <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
            <ion-col col-3>Indicator</ion-col>
            <ion-col col-3>Unit</ion-col>
            <ion-col *ngFor="let source of geographyWiseComparision.sources" col-3>{{source}}</ion-col>

        </ion-row>

        <p *ngIf="indicatorList && indicatorList.length && !((indicatorList| searchIndicator : searchQuery).length)" class="no-data-available">No data available</p>  

        <!-- <div class="scrolling-content" [ngStyle]="{'height':height+'px'}" *ngIf="geographyWiseComparision"> -->
            <ion-row *ngFor="let indicator of (indicatorList| searchIndicator : searchQuery) " 
             class="custom-view-table row "  (click)='viewIndicatorData(indicator)' nowrap>
            <ion-col  class="{{indicator.recSector.sectorName.replace(' ','_')}} col"col-3>{{indicator.iName}}</ion-col>
            <ion-col class="{{indicator.recSector.sectorName.replace(' ','_')}} col" col-3>{{indicator.unit.unitName}}</ion-col>

            <ion-col class="{{indicator.recSector.sectorName.replace(' ','_')}} col" *ngFor="let source of geographyWiseComparision.sources" col-3 >
              {{geographyWiseComparision.values.has(indicator.iName)&&geographyWiseComparision.values.get(indicator.iName).has(source)?geographyWiseComparision.values.get(indicator.iName).get(source):"-"}}
            </ion-col>


          </ion-row>

        <!-- </div> -->

      </ion-grid>


      <!-- for 1 sources and area wise-->

      <ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size && geographyWiseComparision.sources.size==1  && customViewTypeSelection.areaWise"margin-top text-center text-wrap>
        <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
            <ion-col col-3>Indicator</ion-col>
            <ion-col col-3>Unit</ion-col>
            <ion-col *ngFor="let source of geographyWiseComparision.sources" col-6 >{{source}}</ion-col>

        </ion-row>

        <p *ngIf="indicatorList && indicatorList.length && !((indicatorList| searchIndicator : searchQuery).length)" class="no-data-available">No data available</p>  

            <ion-row *ngFor="let indicator of (indicatorList| searchIndicator : searchQuery) " 
             class="custom-view-table row "  (click)='viewIndicatorData(indicator)' nowrap>
            <ion-col  class="{{indicator.recSector.sectorName.replace(' ','_')}} col"col-3>{{indicator.iName}}</ion-col>
            <ion-col class="{{indicator.recSector.sectorName.replace(' ','_')}} col" col-3>{{indicator.unit.unitName}}</ion-col>

            <ion-col class="{{indicator.recSector.sectorName.replace(' ','_')}} col" *ngFor="let source of geographyWiseComparision.sources" col-6>
              {{geographyWiseComparision.values.has(indicator.iName)&&geographyWiseComparision.values.get(indicator.iName).has(source)?geographyWiseComparision.values.get(indicator.iName).get(source):"-"}}
            </ion-col>
             



          </ion-row>


      </ion-grid>



      
    <!-- More than two source and indicator wise-->
<ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size && geographyWiseComparision.sources.size>2 && customViewTypeSelection.indicatorWise"margin-top text-center text-wrap>
    <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
        <ion-col col-6>Area</ion-col>
        <ion-col *ngFor="let source of geographyWiseComparision.sources" col-2>{{source}}</ion-col>

    </ion-row>

    <p *ngIf="selctedAreas && selctedAreas.length && !((selctedAreas| searchAreas : searchQuery).length)" class="no-data-available">No data available</p>  

        <ion-row *ngFor="let area of (selctedAreas| searchAreas : searchQuery) " 
         class="custom-view-table row "  (click)='viewAreaData(area)' nowrap>
        <ion-col  class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col"col-6>
          {{area.concatenedName}}
        </ion-col>

        <ion-col class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col" *ngFor="let source of geographyWiseComparision.sources" col-2 >
          {{geographyWiseComparision.values.has(area.areaname)&&geographyWiseComparision.values.get(area.areaname).has(source)?geographyWiseComparision.values.get(area.areaname).get(source):"-"}}
        </ion-col>
         



      </ion-row>


  </ion-grid>



  <!-- For two sources and indicator wise-->

  <ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size && geographyWiseComparision.sources.size== 2  && customViewTypeSelection.indicatorWise"margin-top text-center text-wrap>
    <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
        <ion-col col-6>Area</ion-col>
        <ion-col *ngFor="let source of geographyWiseComparision.sources" col-3>{{source}}</ion-col>

    </ion-row>

    <p *ngIf="selctedAreas && selctedAreas.length && !((selctedAreas| searchAreas : searchQuery).length)" class="no-data-available">No data available</p>  

      <ion-row *ngFor="let area of (selctedAreas| searchAreas : searchQuery) " 
      class="custom-view-table row "  (click)='viewAreaData(area)' nowrap>
     <ion-col  class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col"col-6>
       {{area.concatenedName}}
      </ion-col>

     <ion-col class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col" *ngFor="let source of geographyWiseComparision.sources" col-3 >
       {{geographyWiseComparision.values.has(area.areaname)&&geographyWiseComparision.values.get(area.areaname).has(source)?geographyWiseComparision.values.get(area.areaname).get(source):"-"}}
     </ion-col>
      



   </ion-row>



  </ion-grid>


  <!-- for 1 sources and indicator wise-->

  <ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size && geographyWiseComparision.sources.size==1  && customViewTypeSelection.indicatorWise   "margin-top text-center text-wrap>
    <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
        <ion-col col-6>Area</ion-col>
        <ion-col *ngFor="let source of geographyWiseComparision.sources" col-6 >{{source}}</ion-col>

    </ion-row>

    <p *ngIf="selctedAreas && selctedAreas.length && !((selctedAreas| searchAreas : searchQuery).length)" class="no-data-available">No data available</p>  
      <ion-row *ngFor="let area of (selctedAreas| searchAreas : searchQuery) " 
      class="custom-view-table row "  (click)='viewAreaData(area)' nowrap>
     <ion-col  class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col"col-6>
       {{area.concatenedName}}
      </ion-col>

     <ion-col class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col" *ngFor="let source of geographyWiseComparision.sources" col-6 >
       {{geographyWiseComparision.values.has(area.areaname)&&geographyWiseComparision.values.get(area.areaname).has(source)?geographyWiseComparision.values.get(area.areaname).get(source):"-"}}
     </ion-col>
      



   </ion-row>



  </ion-grid>
  <!-- customViewTypeSelection.sourceWise -->

  <!-- for 1 sources and source wise-->

  <ion-grid  class ="custom-data-table" *ngIf="geographyWiseComparision && geographyWiseComparision.sources.size   && customViewTypeSelection.sourceWise   "margin-top text-center text-wrap>
    <ion-row  class="snapshot-table-header" *ngIf="geographyWiseComparision" nowrap>
        <ion-col col-6>Area</ion-col>
        <ion-col col-6 class="source-select" (click)='sourceSelect.open()'>
         {{selectedSource}} &nbsp; &nbsp; <ion-icon name="ios-funnel" ></ion-icon>

         <ion-select [(ngModel)]="selectedSource"  interface="popover" class="source-select-option" #sourceSelect>
            <ion-option *ngFor="let source of geographyWiseComparision.sources" [value]="source" >{{source}}</ion-option>
          </ion-select>

        </ion-col>

    </ion-row>

    <p *ngIf="selctedAreas && selctedAreas.length && !((selctedAreas| searchAreas : searchQuery).length)" class="no-data-available">No data available</p>  
      <ion-row *ngFor="let area of (selctedAreas| searchAreas : searchQuery) " 
      class="custom-view-table row "  (click)='viewAreaData(area)' nowrap>
     <ion-col  class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col"col-6>
       {{area.concatenedName}}
      </ion-col>

     <ion-col class="{{selectedIndicator.recSector.sectorName.replace(' ','_')}} col" col-6 >
      {{geographyWiseComparision.values.has(area.areaname)&&geographyWiseComparision.values.get(area.areaname).has(selectedSource)?geographyWiseComparision.values.get(area.areaname).get(selectedSource):"-"}}
     </ion-col>
      



   </ion-row>



  </ion-grid>



</ion-content>
