page-comparison-view {

    .comparision-button
    {
        // max-height:30% ;
        text-transform: none;


    }
    .card
    {
        border: 1px solid #282829
    }
    .area-selection-grid
    {
        border: 1px solid #282829
    }
    .compare-submit-grid
    {
        align-items: center;
    }
}
